parameters:
  werkint_templating.twig.twigjs.twigjsextension.class:
    Werkint\Bundle\TemplatingBundle\Twig\Twigjs\WerkintTemplatingTwigjsExtension
  werkint_templating.twig.twigjs.twigjstokenparser.class:
    Werkint\Bundle\TemplatingBundle\Twig\Twigjs\TwigJsTokenParser
  werkint_templating.twig.twigjs.twigjsresulttokenparser.class:
    Werkint\Bundle\TemplatingBundle\Twig\Twigjs\TwigJsResultTokenParser

services:
  # Twig - основное расширение сайта
  werkint_templating.twig.twigjs.twigjsextension:
    class: %werkint_templating.twig.twigjs.twigjsextension.class%
    public: false
    arguments:
      - "@twig"
      - "@werkint_templating.twig.twigjs.twigjstokenparser"
      - "@werkint_templating.twig.twigjs.twigjsresulttokenparser"
      - "@werkint_templating.template_parser"
    tags:
      - { name: twig.extension }
  werkint_templating.twig.twigjs.twigjstokenparser:
    class: %werkint_templating.twig.twigjs.twigjstokenparser.class%
  werkint_templating.twig.twigjs.twigjsresulttokenparser:
    class: %werkint_templating.twig.twigjs.twigjsresulttokenparser.class%
